# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option
*.out

# Go workspace file
go.work

# Dependency directories (remove the comment below if you do not records
# dependencies in go.mod)
# vendor/

# .env
.env

# Temp files
tmp
data

# AOF files
*.aof